*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

/* header */

.header {
  display: flex;
  align-items: center;
  padding: 34px 0 0;
  margin: 0 0 43px;
}

.header__logo {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #fe4a51;
  padding: 0 0 0 134px;
}

.header__logo-span {
  color: #2d2d2d;
}

.header__list {
  display: flex;
  list-style: none;
  padding: 0 0 0 186px;
}

.header__item {
  &:not(:last-of-type) {
    margin: 0 51px 0 0;
  }
}

.header__link {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #2d2d2d;
  text-decoration: none;
}

.header__search {
  width: 135px;
  height: 38px;
  background-image: url(../images/header/header-search.png);
  background-repeat: no-repeat;
  background-position: 13px 11px;
  padding: 13px 1px 13px 41px;
  margin: 0 0 0 125px;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #2d2d2d;
  border: 1px solid #000;
  border-radius: 30px;

  &:focus {
    outline: none;
  }
}

/* head */

.head__main-pic {
  width: 100%;
  height: 636px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/head/head-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 0 0 215px;
}

.head__title {
  width: 529px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 73px;
  color: #ffffff;
  text-align: center;
  padding: 128px 0 0;
}

.head__btn {
  width: 124px;
  height: 38px;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  background-color: #fe4a51;
  margin: 33px 0 0;
  border: none;
  cursor: pointer;
}

.head__gallery-all {
  display: flex;
  gap: 0 10px;
  position: relative;
  top: 127px;
  left: 0;
}

.head__gallery {
  width: 285px;
  height: 230px;
  box-shadow: 0px 0px 5px #000;
}

.head__gallery_pic1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/head/head-pic1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 5px solid #fff;
}

.head__gallery_pic2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/head/head-pic2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 5px solid #fff;
}

.head__gallery_pic3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/head/head-pic3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 5px solid #fff;
}

.head__gallery_pic4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/head/head-pic4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 5px solid #fff;
}

/* icons */

.icons {
  list-style: none;
  display: flex;
  align-items: end;
  padding: 30px 0 0 38px;
}

.icons__item {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  margin: 0 37px 0 0;
}

.icons__img {
  margin: 0 6px 0 0;
}

.icons_medium {
  padding: 0 0 24px 0px;
}

.icons__item_medium {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  margin: 0 13px 0 0;

  &:last-of-type {
    margin: 0;
  }
}

.icons__img_medium {
  width: 12px;
  height: 12px;
  margin: 0 6px 0 0;
}

.icons_small {
  padding: 0 0 24px 12px;
}

.icons__item_small {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 14px 0 0;
}

.icons__img_small {
  width: 8px;
  height: 8px;
  margin: 0 2px 0 0;
}

/* content */

.content {
  display: flex;
  padding: 0 135px;
  margin: 0 0 100px;
}

.content__article-title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #2d2d2d;
  margin: 0 0 20px;
}

.content__article-line {
  width: 870px;
  height: 1px;
  background-image: url(../images/content/content-line-big.png);
  background-repeat: no-repeat;
  background-position: 0;
  margin: 0 0 25px;
}

.content__article-boxes {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(2, 326px);
  gap: 10px;
  grid-template-areas:
    "box1 box1 box1 box1 box1  box2 box2 box2 box2"
    "box3 box3 box3 box3 box4 box4 box4 box4 box4";
}

.content__article-box-link {
  display: contents;
}

.content__article-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.content__article-box1 {
  grid-area: box1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/content/content-box1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content__article-box2 {
  grid-area: box2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/content/content-box2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content__article-box3 {
  grid-area: box3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/content/content-box3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content__article-box4 {
  grid-area: box4;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/content/content-box4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content__article-box-title {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  padding: 0 6px 14px 0px;
}

.content__article-buttom-bar-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 43px;
  width: 870px;
  height: 257px;
  background-color: #ffe5e6;
  margin: 100px 0 0;
}

.content__article-buttom-bar-link {
  text-decoration: none;
  color: #2d2d2d;
}

.content__article-buttom-bar-img {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0 0 21px;
}

.content__article-bottom-bar-text {
  width: 130px;
  height: 26px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  color: #2d2d2d;
}

.content__aside {
  margin: 0 0 0 30px;
}

.content__aside-author {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #2d2d2d;
  padding: 10px 0 0 0;
  margin: 0 0 29px;
}

.content__aside-line {
  width: 270px;
  height: 1px;
  background-image: url(../images/content/content-line-small.png);
  background-repeat: no-repeat;
  background-position: 0;
}

.content__aside-photo {
  width: 200px;
  height: 200px;
  object-fit: none;
  object-position: -216px -73px;
  border-radius: 100%;
  margin: 23px 0 0 33px;
}

.content__aside-name {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #2d2d2d;
  text-align: center;
  padding: 18px 4px 0 0px;
}

.content__aside-text {
  width: 261px;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: rgba(45, 45, 45, 0.6);
  padding: 21px 0 0 8px;
}

.content__aside-subscribe {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #2d2d2d;
  padding: 32px 0 0;
  margin: 0 0 16px;
}

.content__aside-list {
  list-style: none;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin: 24px 0 25px;
}

.content__aside-item {
  width: 133px;
  height: 43px;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dedada;
}

.content__aside-link {
  text-decoration: none;
  color: #000;
  padding: 0 0 5px 0;
}

.content__aside-item_margin {
  padding: 0 13px 0 0;
}

.content__aside-img {
  margin: 0 9px 0 0;
}

.content__aside-img_position {
  position: relative;
  top: 3px;
  left: 0;
}

.content__aside-ad {
  width: 270px;
  height: 266px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/content/content-ad.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 25px;
}

.content__aside-ad-title {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.content__aside-form {
  width: 270px;
  background-color: #dedada;
}

.content__aside-form-title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 163.9%;
  color: #2d2d2d;
  text-align: center;
  margin: 0 0 25px 0;
  padding: 25px 0 0;
}

.content__aside-form-container {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  padding: 0;
}

.content__aside-email {
  width: 220px;
  height: 40px;
  align-self: center;
  text-align: center;
  padding: 10px 10px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-family: "Lato", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #2d2d2d;
  }
}

.content__aside-btn {
  width: 220px;
  height: 40px;
  align-self: center;
  border: none;
  background-color: #fe4a51;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  cursor: pointer;
  margin: 0 0 25px;
}

/* pages */

.pages {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0 0 0 66px;
}

.pages__item {
  margin: 50px 15px 0 0;
}

.pages__link {
  text-decoration: none;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #2d2d2d;
}

.pages__link_selected {
  color: #fe4a51;
}

.pages_recipes-margin {
  padding: 0 0 0 68px;
}

/* recipes */

.recipes {
  display: flex;
  padding: 0 135px;
  margin: 0 0 100px;
}

.latest-recipes {
  width: 870px;
}

.recipes__title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #2d2d2d;
  margin: 0 0 17px;
}

.recipes__line {
  width: 870px;
  height: 1px;
  background-image: url(../images/content/content-line-big.png);
  background-repeat: no-repeat;
  background-position: 0;
  margin: 0 0 25px;
}

.recipes__boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 11px 10px;
}

.recipes__link {
  text-decoration: none;
  color: #fff;
}

.recipes__container {
  width: 283px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.recipes__container-box1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/recipes/recipes-pic1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__container-box2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/recipes/recipes-pic2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__container-box3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/recipes/recipes-pic3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__container-box4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/recipes/recipes-pic4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__container-box5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/recipes/recipes-pic5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__container-box6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/recipes/recipes-pic6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__container-title {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  color: #ffffff;
  padding: 0 0 13px 0;
}

.recipes__tranding {
  margin: 0 0 0 30px;
  padding: 10px 0 0;
}

.recipes__tranding-title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #2d2d2d;
}

.recipes__tranding-line {
  width: 270px;
  height: 1px;
  background-image: url(../images/content/content-line-small.png);
  background-repeat: no-repeat;
  background-position: 0;
  padding: 27px 0 25px;
}

.recipes__tranding-container {
  display: flex;

  &:not(:last-of-type) {
    margin: 0 0 10px;
  }
}

.recipes__tranding-img {
  min-width: 70px;
  max-width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
  margin: 0 14px 0 0;
}

.recipes__tranding-text-title {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  color: #2d2d2d;
  margin: 0 0 7px;
}

.recipes__tranding-text-author {
  display: flex;
}

.recipes__tranding-text-author-img {
  object-fit: cover;
  object-position: center;
  margin: 0 5px 0 0;
}

.recipes__tranding-text-author-subtitle {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #2d2d2d;
}

.recipes__tranding-text-author-span {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: rgba(45, 45, 45, 0.6);
}

/* instagram */

.instagram {
  display: flex;
  margin: 0 0 100px;
}

.instagram__box {
  width: 288px;
  height: 255px;
}

.instagram__box1 {
  background-image: url(../images/instagram/instagram-pic1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.instagram__box2 {
  background-image: url(../images/instagram/instagram-pic2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.instagram__box3 {
  background-image: url(../images/instagram/instagram-pic3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram__box4 {
  background-image: url(../images/instagram/instagram-pic4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.instagram__box5 {
  background-image: url(../images/instagram/instagram-pic5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* follow */

.follow {
  text-decoration: none;
}

.follow__content {
  width: 138px;
  height: 138px;
  border-radius: 100%;
  background-color: rgba(254, 74, 81, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.follow__title {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
  margin: 0 0 4px;
}

.follow__container {
  display: flex;
}

.follow__img {
  object-fit: none;
  object-position: center;
}

.follow__subtitle {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  margin: 0 0 0 5px;
}

/* bottom */

.bottom {
  display: flex;
  padding: 0 135px;
  margin: 0 0 100px;
}

.bottom__title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #2d2d2d;
  margin: 0 0 15px;
}

.bottom__text {
  width: 270px;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  color: #2d2d2d;
}

.bottom__archives {
  margin: 0 205px 0 30px;
}

.bottom__archives-list {
  list-style: none;
  position: relative;
}

.bottom__archives-item {
  text-align: left;

  &:not(:last-of-type) {
    margin: 0 0 15px;
  }

  &::before {
    content: "";
    position: absolute;
    margin: 7px 0 0 -19px;
    width: 8px;
    height: 8px;
    background-color: #fe4a51;
    border-radius: 100%;
    display: flex;
  }
}

.bottom__archives-link {
  text-decoration: none;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: rgba(45, 45, 45, 0.6);
}

.bottom__recipes {
  margin: 0 176px 0 0;
}

.bottom__recipes-list {
  list-style: none;
  position: relative;
}

.bottom__recipes-item {
  text-align: left;
  white-space: nowrap;
  padding: 0 0 0 19px;

  &:not(:last-of-type) {
    margin: 0 0 15px;
  }

  &::before {
    content: "";
    position: absolute;
    margin: 7px 0 0 -19px;
    width: 8px;
    height: 8px;
    background-color: #fe4a51;
    border-radius: 100%;
    display: flex;
  }
}

.bottom__recipes-link {
  text-decoration: none;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: rgba(45, 45, 45, 0.6);
}

.bottom__newsletter {
  width: 270px;
}

.bottom__newsletter-text {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  color: #2d2d2d;
}

.bottom__input {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #2d2d2d;
  background-color: #dedada;
  border: none;
  padding: 6px 17px;
  width: 177px;
  height: 33px;

  &:focus {
    outline: none;
  }
}

.bottom__btn {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  color: #ffffff;
  background-color: #fe4a51;
  border: 0;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
  top: 0;
  right: 4px;
  margin: 4px 0 0;
}

/* footer */

.footer {
  background-color: #2d2d2d;
}

.footer__text {
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #ffffff;
  padding: 25px 0 23px 0;
}
